---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
df['Gold'].idxmax()

'United States'

In [4]:
type(df['Gold'].idxmax())

str

In [5]:
def answer_one():
    return df['Gold'].idxmax()

In [6]:
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [7]:
maxValue=max(df['Gold']-df['Gold.1'])
df[df['Gold']-df['Gold.1']==maxValue].index[0]

'United States'

In [8]:
def answer_two():
    maxValue=max(df['Gold']-df['Gold.1'])
    return df[df['Gold']-df['Gold.1']==maxValue].index[0]

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [9]:
def answer_three():
    df1=df[(df['Gold.1'] > 0) & (df['Gold'] > 0)]
    maxValue=max(abs(df1['Gold']-df1['Gold.1'])/df1['Gold.2'])
    return df1[abs(df1['Gold']-df1['Gold.1'])/df1['Gold.2']==maxValue].index[0]
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [10]:
def answer_four():
    Points = 3*df['Gold.2'] + 2*df['Silver.2'] + 1*df['Bronze.2']
    return Points

In [11]:
len(answer_four())

146

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [12]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [13]:
census_df.shape

(3193, 100)

In [14]:
census_df[census_df['STNAME']=='Alabama']['CTYNAME'].count()

68

In [15]:
census_df_grouped=census_df[['STNAME','CTYNAME']].groupby(['STNAME']).agg(['count'])
print(census_df_grouped)

                     CTYNAME
                       count
STNAME
Alabama                   68
Alaska                    30
Arizona                   16
Arkansas                  76
California                59
Colorado                  65
Connecticut                9
Delaware                   4
District of Columbia       2
Florida                   68
Georgia                  160
Hawaii                     6
Idaho                     45
Illinois                 103
Indiana                   93
Iowa                     100
Kansas                   106
Kentucky                 121
Louisiana                 65
Maine                     17
Maryland                  25
Massachusetts             15
Michigan                  84
Minnesota                 88
Mississippi               83
Missouri                 116
Montana                   57
Nebraska                  94
Nevada                    18
New Hampshire             11
New Jersey                22
New Mexico                34
New York                  63
North Carolina           101
North Dakota              54
Ohio                      89
Oklahoma                  78
Oregon                    37
Pennsylvania              68
Rhode Island               6
South Carolina            47
South Dakota              67
Tennessee                 96
Texas                    255
Utah                      30
Vermont                   15
Virginia                 134
Washington                40
West Virginia             56
Wisconsin                 73
Wyoming                   24

In [16]:
census_df_grouped.max()

CTYNAME  count    255
dtype: int64

In [17]:
type(census_df_grouped)

pandas.core.frame.DataFrame

In [18]:
census_df_grouped.idxmax()[0]

'Texas'

In [19]:
def answer_five():
    census_df_grouped=census_df[['STNAME','CTYNAME']].groupby(['STNAME']).agg(['count'])
    return census_df_grouped.idxmax()[0]

In [20]:
answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

#### Part 1

In [21]:
census_df_pop=census_df[['STNAME','CTYNAME','CENSUS2010POP']].groupby(['STNAME'])
# census_df_pop.groups
type(census_df_pop)

pandas.core.groupby.DataFrameGroupBy

In [22]:
census_df_pop.get_group('Alabama').head()

    STNAME         CTYNAME  CENSUS2010POP
0  Alabama         Alabama        4779736
1  Alabama  Autauga County          54571
2  Alabama  Baldwin County         182265
3  Alabama  Barbour County          27457
4  Alabama     Bibb County          22915

In [23]:
type(census_df_pop.get_group('Alabama'))

pandas.core.frame.DataFrame

In [24]:
census_df_pop_group=census_df_pop.get_group('Alabama')
census_df_pop_group['CTYNAME'][census_df_pop_group['CENSUS2010POP'].idxmax()]

'Alabama'

In [25]:
census_df_pop_group.sort('CENSUS2010POP',ascending=False).head(3)

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     STNAME           CTYNAME  CENSUS2010POP
0   Alabama           Alabama        4779736
37  Alabama  Jefferson County         658466
49  Alabama     Mobile County         412992

In [26]:
census_df_pop_group.sort('CENSUS2010POP',ascending=False)[0:3]['CENSUS2010POP'].sum()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

5851194

#### Part 2

In [27]:
census_df.shape

(3193, 100)

In [28]:
cdf = census_df[census_df['SUMLEV'] == 50]
cdf.shape

(3142, 100)

In [29]:
cdf =cdf.groupby('STNAME')
cdf = cdf.apply(lambda x:x.sort_values('CENSUS2010POP', ascending=False))
print(cdf.shape)
cdf.head()

(3142, 100)

            SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME  \
STNAME
Alabama 37      50       3         6      1      73  Alabama
        49      50       3         6      1      97  Alabama
        45      50       3         6      1      89  Alabama
        51      50       3         6      1     101  Alabama
        59      50       3         6      1     117  Alabama

                      CTYNAME  CENSUS2010POP  ESTIMATESBASE2010  \
STNAME
Alabama 37   Jefferson County         658466             658350
        49      Mobile County         412992             413143
        45     Madison County         334811             334811
        51  Montgomery County         229363             229363
        59      Shelby County         195085             195218

            POPESTIMATE2010     ...       RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME                          ...
Alabama 37           658116     ...              -4.138628         -4.492646
        49           413332     ...              -5.242052         -3.722733
        45           336138     ...               4.170416          3.438521
        51           229723     ...               0.793549        -17.053618
        59           196048     ...               1.456731          7.783057

            RDOMESTICMIG2013  RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME
Alabama 37         -1.664873         -0.970225         -3.337536    -2.985041
        49         -3.181655         -2.311087         -3.873201    -3.751237
        45          6.367708          4.064107          2.480087     5.739131
        51        -16.353778         -8.910671         -5.820167     2.441356
        59          8.805327          5.037501          5.986812     3.065733

            RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME
Alabama 37    -3.536344    -0.647113     0.221333    -2.126089
        49    -2.281051    -1.753896    -0.759909    -2.288272
        45     4.880766     7.818211     5.734524     4.180881
        51   -15.057012   -14.486528    -6.784461    -3.598965
        59     8.755939     9.897345     6.359052     7.307574

[5 rows x 100 columns]

In [30]:
cdf=cdf.reset_index(drop=True)
print(cdf.shape)
cdf.head()

(3142, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,50,3,6,1,73,Alabama,Jefferson County,658466,658350,658116,...,-4.138628,-4.492646,-1.664873,-0.970225,-3.337536,-2.985041,-3.536344,-0.647113,0.221333,-2.126089
1,50,3,6,1,97,Alabama,Mobile County,412992,413143,413332,...,-5.242052,-3.722733,-3.181655,-2.311087,-3.873201,-3.751237,-2.281051,-1.753896,-0.759909,-2.288272
2,50,3,6,1,89,Alabama,Madison County,334811,334811,336138,...,4.170416,3.438521,6.367708,4.064107,2.480087,5.739131,4.880766,7.818211,5.734524,4.180881
3,50,3,6,1,101,Alabama,Montgomery County,229363,229363,229723,...,0.793549,-17.053618,-16.353778,-8.910671,-5.820167,2.441356,-15.057012,-14.486528,-6.784461,-3.598965
4,50,3,6,1,117,Alabama,Shelby County,195085,195218,196048,...,1.456731,7.783057,8.805327,5.037501,5.986812,3.065733,8.755939,9.897345,6.359052,7.307574

In [31]:
cdf = cdf.groupby('STNAME').head(3)
print(cdf.shape)
cdf.head(10)

(151, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,50,3,6,1,73,Alabama,Jefferson County,658466,658350,658116,...,-4.138628,-4.492646,-1.664873,-0.970225,-3.337536,-2.985041,-3.536344,-0.647113,0.221333,-2.126089
1,50,3,6,1,97,Alabama,Mobile County,412992,413143,413332,...,-5.242052,-3.722733,-3.181655,-2.311087,-3.873201,-3.751237,-2.281051,-1.753896,-0.759909,-2.288272
2,50,3,6,1,89,Alabama,Madison County,334811,334811,336138,...,4.170416,3.438521,6.367708,4.064107,2.480087,5.739131,4.880766,7.818211,5.734524,4.180881
67,50,4,9,2,20,Alaska,Anchorage Municipality,291826,291826,293405,...,-3.788123,-7.563712,-3.962343,-18.897015,-19.781254,-0.969922,-2.652342,0.053320,-14.789980,-15.280810
68,50,4,9,2,90,Alaska,Fairbanks North Star Borough,97581,97581,98289,...,-17.339069,5.430293,-9.147023,-33.436804,-13.859157,-15.791483,10.618791,-4.926084,-29.823633,-8.984834
69,50,4,9,2,170,Alaska,Matanuska-Susitna Borough,88995,88995,89761,...,13.050517,11.474315,12.906763,15.008086,18.697964,13.391923,12.303913,13.528903,15.605525,19.349985
96,50,4,8,4,13,Arizona,Maricopa County,3817117,3817357,3825597,...,2.444413,9.232973,7.879873,8.318210,9.123309,4.726436,11.527593,10.390177,11.203958,11.985998
97,50,4,8,4,19,Arizona,Pima County,980263,980263,981870,...,0.874159,-0.248360,-1.381638,1.036139,0.159859,2.781876,2.000003,0.854104,3.582023,2.777186
98,50,4,8,4,21,Arizona,Pinal County,375770,375770,379384,...,-13.828377,4.308298,0.966512,17.437436,18.998761,-11.594501,6.465078,3.391910,20.212795,21.745600
111,50,3,7,5,119,Arkansas,Pulaski County,382748,382789,383628,...,1.085073,-2.101027,-0.709951,-3.577252,-6.701870,2.421945,-0.157255,1.025199,-1.696771,-4.750660

In [32]:
cdf=cdf.groupby('STNAME').sum()
print(cdf.shape)
cdf.head(10)

(51, 98)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,150,9,18,3,259,1406269,1406304,1407586,1410415,1414150,...,-5.210264,-4.776858,1.521180,0.782795,-4.730649,-0.997146,-0.936629,5.417202,5.195948,-0.233479
Alaska,150,12,27,6,280,478402,478402,481455,486320,492774,...,-8.076675,9.340896,-0.202602,-37.325733,-14.942448,-3.369482,20.270363,8.656139,-29.008088,-4.915660
Arizona,150,12,24,12,53,5173150,5173390,5186851,5238025,5320782,...,-10.509806,13.292912,7.464747,26.791785,28.281929,-4.086189,19.992674,14.636191,34.998776,36.508784
Arkansas,150,9,21,15,269,807152,807193,810664,822608,833594,...,18.012611,15.487208,19.531981,14.860365,18.764610,25.429853,23.248130,27.588498,23.927394,27.755652
California,150,12,27,18,169,15924150,15924274,15948261,16094942,16244137,...,-2.651916,-3.217407,-5.070710,-7.111949,-12.065453,10.408013,10.545720,9.005753,8.543736,3.920882
Colorado,150,12,24,24,77,1794424,1794276,1804943,1842353,1876037,...,27.771666,18.792262,22.893340,20.143692,28.235188,35.559626,29.992427,33.123220,31.120035,39.785916
Connecticut,150,3,3,27,13,2673320,2673353,2678448,2689918,2696308,...,-10.505871,-14.933884,-14.110408,-22.841714,-23.955999,5.019660,-0.710943,1.026736,-5.165822,-6.286792
Delaware,150,9,15,30,9,897934,897936,899791,907916,917099,...,15.045588,18.288721,17.688504,24.173863,23.526694,21.669717,26.005809,24.962252,32.310212,31.748738
District of Columbia,50,3,5,11,1,601723,601767,605126,620472,635342,...,11.560071,10.052444,9.457678,1.480094,5.601833,17.028422,15.972111,15.634120,8.378037,12.434838
Florida,150,9,15,36,196,5564635,5566299,5585605,5706159,5788070,...,19.535263,7.240553,-0.582439,-0.392163,-1.175483,49.647485,34.098255,28.153612,31.932188,30.701761

In [33]:
cdf = cdf.sort_values('CENSUS2010POP', axis=0, ascending=False).head(3)
print(cdf.shape)
cdf.head()

(3, 98)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
California,150,12,27,18,169,15924150,15924274,15948261,16094942,16244137,...,-2.651916,-3.217407,-5.070710,-7.111949,-12.065453,10.408013,10.545720,9.005753,8.543736,3.920882
Texas,150,9,21,144,753,8269632,8270250,8298179,8439027,8601286,...,7.142972,14.863483,7.496872,9.559581,8.836789,20.398518,27.431740,21.195186,25.187793,24.341074
Illinois,150,6,9,51,171,6815061,6815323,6821742,6841179,6862181,...,-19.864534,-18.494617,-14.252015,-22.842075,-26.515534,-11.715929,-9.144169,-4.775492,-12.003940,-15.246911

In [34]:
cdf.index.tolist()

['California', 'Texas', 'Illinois']

In [35]:
def answer_six():
    cdf = census_df[census_df['SUMLEV'] == 50]
    cdf =cdf.groupby('STNAME')
    cdf = cdf.apply(lambda x:x.sort_values('CENSUS2010POP', ascending=False))
    cdf=cdf.reset_index(drop=True)
    cdf = cdf.groupby('STNAME').head(3)
    cdf=cdf.groupby('STNAME').sum()
    cdf = cdf.sort_values('CENSUS2010POP', axis=0, ascending=False).head(3)
    return cdf.index.tolist()

In [36]:
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [37]:
cdf=census_df.copy()
cdf = cdf[cdf['SUMLEV'] == 50]
cdf['Largest change']=cdf[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)-cdf[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
cdf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,Largest change
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,687
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,20516
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,852
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,349
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411,403

In [38]:
cdf.sort_values('Largest change', axis=0, ascending=False).head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,Largest change
2667,50,3,7,48,201,Texas,Harris County,4092459,4093076,4108187,...,3.518819,4.820913,5.243613,3.794291,7.154417,8.915715,10.683269,11.850629,10.303814,429841
209,50,4,9,6,37,California,Los Angeles County,9818605,9818700,9826009,...,-4.071266,-4.332318,-5.394299,-6.027694,-0.007808,0.377510,0.578049,0.215038,-0.437481,344283
106,50,4,8,4,13,Arizona,Maricopa County,3817117,3817357,3825597,...,9.232973,7.879873,8.318210,9.123309,4.726436,11.527593,10.390177,11.203958,11.985998,342350
227,50,4,9,6,73,California,San Diego County,3095313,3095308,3104386,...,0.235513,-0.246567,0.657077,-2.855045,4.382515,5.773072,4.745940,5.921091,2.770965,195135
372,50,3,5,12,86,Florida,Miami-Dade County,2496435,2498017,2508171,...,-6.908149,-8.130040,-10.464276,-12.205475,23.110902,6.891198,6.633403,6.087936,4.154777,184946

In [39]:
cdf=cdf.sort_values('Largest change', axis=0, ascending=False).head(1)
cdf

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,Largest change
2667,50,3,7,48,201,Texas,Harris County,4092459,4093076,4108187,...,3.518819,4.820913,5.243613,3.794291,7.154417,8.915715,10.683269,11.850629,10.303814,429841

In [40]:
cdf.iloc[0]['CTYNAME']

'Harris County'

In [41]:
def answer_seven():
    cdf=census_df.copy()
    cdf = cdf[cdf['SUMLEV'] == 50]
    cdf['Largest change']=cdf[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)-cdf[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
    cdf=cdf.sort_values('Largest change', axis=0, ascending=False).head(1)
    return cdf.iloc[0]['CTYNAME']

In [42]:
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [43]:
cdf = census_df.copy()
cdf = cdf[cdf['SUMLEV'] == 50]
print(cdf.shape)
cdf.head()

(3142, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [44]:
cdf=cdf[(cdf['REGION']==1) | (cdf['REGION']==2)]
print(cdf.shape)
cdf.head()

(1272, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
315,50,1,1,9,1,Connecticut,Fairfield County,916829,916850,919744,...,-0.228261,-3.030708,-2.070291,-6.633789,-7.385939,6.119788,2.687406,4.096896,0.441829,-0.338989
316,50,1,1,9,3,Connecticut,Hartford County,894014,894029,895303,...,-5.037297,-6.324143,-5.237664,-8.636074,-8.135161,-0.025666,-1.662136,-0.314193,-2.840433,-2.327200
317,50,1,1,9,5,Connecticut,Litchfield County,189927,189927,189773,...,-4.103317,-7.183847,-2.812353,-7.951141,-5.931948,-3.290047,-6.450584,-1.983618,-6.939080,-4.906204
318,50,1,1,9,7,Connecticut,Middlesex County,165676,165676,165628,...,1.410378,-6.716791,-2.617825,-4.987002,-6.526367,3.598271,-4.522077,-0.308335,-2.272328,-3.807554
319,50,1,1,9,9,Connecticut,New Haven County,862477,862474,863401,...,-5.240312,-5.579033,-6.802453,-7.571850,-8.434900,-1.074461,-1.736214,-2.755967,-2.767218,-3.620603

In [45]:
cdf=cdf[cdf['CTYNAME'].str.contains('Washington')]
print(cdf.shape)
cdf.head()

(14, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
703,50,2,3,17,189,Illinois,Washington County,14716,14716,14701,...,-8.057633,2.192006,-12.192182,-2.775850,-10.605638,-8.125918,2.123506,-12.192182,-2.775850,-10.605638
799,50,2,3,18,175,Indiana,Washington County,28262,28262,28284,...,-3.683894,-9.517699,-5.310179,0.717901,-5.454774,-3.258829,-9.161231,-4.879624,1.148641,-5.024134
896,50,2,4,19,183,Iowa,Washington County,21704,21704,21697,...,5.743693,2.468684,-0.364282,0.272171,1.849596,5.881542,2.560117,-0.273212,0.408256,1.984933
1005,50,2,4,20,201,Kansas,Washington County,5799,5799,5782,...,10.504563,-18.164519,-18.821460,-5.501819,-6.948156,12.054417,-16.780555,-17.238347,-3.549561,-4.988420
1211,50,1,1,23,29,Maine,Washington County,32856,32856,32824,...,0.213626,-3.280699,-4.262285,-9.111049,-4.284274,0.366217,-2.790127,-3.829879,-8.643015,-3.811744

In [46]:
cdf=cdf[cdf['POPESTIMATE2015']>cdf['POPESTIMATE2014']]
print(cdf.shape)
cdf.head()

(5, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
896,50,2,4,19,183,Iowa,Washington County,21704,21704,21697,...,5.743693,2.468684,-0.364282,0.272171,1.849596,5.881542,2.560117,-0.273212,0.408256,1.984933
1419,50,2,4,27,163,Minnesota,Washington County,238136,238134,238995,...,2.555118,3.260957,2.285952,3.072543,0.678755,4.178076,4.907905,4.009584,5.040262,2.615204
2345,50,1,2,42,125,Pennsylvania,Washington County,207820,207820,207877,...,3.683135,3.260434,1.219337,2.113561,1.656917,4.062988,3.750219,1.742595,2.762039,2.305276
2355,50,1,1,44,9,Rhode Island,Washington County,126979,127094,127085,...,-4.669304,-2.659574,1.551904,1.400112,0.506035,-3.533527,-1.788880,2.462459,2.428442,1.533918
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931

In [47]:
cdf[['STNAME','CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [48]:
def answer_eight():
    cdf = census_df.copy()
    cdf = cdf[cdf['SUMLEV'] == 50]
    cdf=cdf[(cdf['REGION']==1) | (cdf['REGION']==2)]
    cdf=cdf[cdf['CTYNAME'].str.contains('Washington')]
    cdf=cdf[cdf['POPESTIMATE2015']>cdf['POPESTIMATE2014']]
    return cdf[['STNAME','CTYNAME']]

In [49]:
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County