In [1]:
import pandas as pd

### Quiz 1: Chaining

Use chaining method to modify the DataFrame df in one statement to drop any entries where 'Quantiy' is 0 and rename the column 'Weight' to 'Weight (oz.)'

In [2]:
df = pd.DataFrame([{'Item': 'Pack', 'Category': 'Pack', 'Quantity': 1, 'Weight': 33.0},
                   {'Item': 'Tent', 'Category': 'Shelter', 'Quantity': 1, 'Weight': 80.0},
                   {'Item': 'Sleeping Pad', 'Category': 'Sleep', 'Quantity': 0, 'Weight': 27.0},
                   {'Item': 'Sleeping Bag', 'Category': 'Sleep', 'Quantity': 1, 'Weight': 20.0},
                   {'Item': 'Toothbrush/Toothpaste', 'Category': 'Health', 'Quantity': 1, 'Weight': 2.0},
                   {'Item': 'Sunscreen', 'Category': 'Health', 'Quantity': 1, 'Weight': 5.0},
                   {'Item': 'Medical kit', 'Category': 'Health', 'Quantity': 1, 'Weight': 3.7},
                   {'Item': 'Spoon', 'Category': 'Kitchen', 'Quantity': 0, 'Weight': 0.7},
                   {'Item': 'Stove', 'Category': 'Kitchen', 'Quantity': 1, 'Weight': 20.0},
                   {'Item': 'Water Filter', 'Category': 'Kitchen', 'Quantity': 1, 'Weight': 1.8},
                   {'Item': 'Water bottles', 'Category': 'Kitchen', 'Quantity': 2, 'Weight': 35.0},
                   {'Item': 'Pack Liner', 'Category': 'Utility', 'Quantity': 1, 'Weight': 1.0},
                   {'Item': 'Stuff Sack', 'Category': 'Utility', 'Quantity': 0, 'Weight': 1.0},
                   {'Item': 'Trekking Poles', 'Category': 'Utility', 'Quantity': 1, 'Weight': 16.0},
                   {'Item': 'Rain Poncho', 'Category': 'Clothing', 'Quantity': 0, 'Weight': 6.0},
                   {'Item': 'Shoes', 'Category': 'Clothing', 'Quantity': 1, 'Weight': 12.0},
                   {'Item': 'Hat', 'Category': 'Clothing', 'Quantity': 1, 'Weight': 2.5}
                  ]).set_index('Item')
df

                       Category  Quantity  Weight
Item
Pack                       Pack         1    33.0
Tent                    Shelter         1    80.0
Sleeping Pad              Sleep         0    27.0
Sleeping Bag              Sleep         1    20.0
Toothbrush/Toothpaste    Health         1     2.0
Sunscreen                Health         1     5.0
Medical kit              Health         1     3.7
Spoon                   Kitchen         0     0.7
Stove                   Kitchen         1    20.0
Water Filter            Kitchen         1     1.8
Water bottles           Kitchen         2    35.0
Pack Liner              Utility         1     1.0
Stuff Sack              Utility         0     1.0
Trekking Poles          Utility         1    16.0
Rain Poncho            Clothing         0     6.0
Shoes                  Clothing         1    12.0
Hat                    Clothing         1     2.5

In [3]:
(df.drop(df[df['Quantity'] == 0].index).rename(columns={'Weight': 'Weight (oz.)'}))

                       Category  Quantity  Weight (oz.)
Item
Pack                       Pack         1          33.0
Tent                    Shelter         1          80.0
Sleeping Bag              Sleep         1          20.0
Toothbrush/Toothpaste    Health         1           2.0
Sunscreen                Health         1           5.0
Medical kit              Health         1           3.7
Stove                   Kitchen         1          20.0
Water Filter            Kitchen         1           1.8
Water bottles           Kitchen         2          35.0
Pack Liner              Utility         1           1.0
Trekking Poles          Utility         1          16.0
Shoes                  Clothing         1          12.0
Hat                    Clothing         1           2.5

In [4]:
(df.drop(df[df['Quantity'] == 0].index).rename(columns={'Weight': 'Weight (oz.)'}).shape)

(13, 3)

### Quiz 2: Aggregation

Use groupby along with agg to find the number of items in each 'Category' along with the weight of each 'Category'

In [5]:
df = pd.DataFrame([{'Item': 'Pack', 'Category': 'Pack', 'Quantity': 1, 'Weight (oz.)': 33.0},
                   {'Item': 'Tent', 'Category': 'Shelter', 'Quantity': 1, 'Weight (oz.)': 80.0},
                   {'Item': 'Sleeping Pad', 'Category': 'Sleep', 'Quantity': 1, 'Weight (oz.)': 27.0},
                   {'Item': 'Sleeping Bag', 'Category': 'Sleep', 'Quantity': 1, 'Weight (oz.)': 20.0},
                   {'Item': 'Toothbrush/Toothpaste', 'Category': 'Health', 'Quantity': 1, 'Weight (oz.)': 2.0},
                   {'Item': 'Sunscreen', 'Category': 'Health', 'Quantity': 1, 'Weight (oz.)': 5.0},
                   {'Item': 'Medical kit', 'Category': 'Health', 'Quantity': 1, 'Weight (oz.)': 3.7},
                   {'Item': 'Spoon', 'Category': 'Kitchen', 'Quantity': 1, 'Weight (oz.)': 0.7},
                   {'Item': 'Stove', 'Category': 'Kitchen', 'Quantity': 1, 'Weight (oz.)': 20.0},
                   {'Item': 'Water Filter', 'Category': 'Kitchen', 'Quantity': 1, 'Weight (oz.)': 1.8},
                   {'Item': 'Water bottles', 'Category': 'Kitchen', 'Quantity': 2, 'Weight (oz.)': 35.0},
                   {'Item': 'Pack Liner', 'Category': 'Utility', 'Quantity': 1, 'Weight (oz.)': 1.0},
                   {'Item': 'Stuff Sack', 'Category': 'Utility', 'Quantity': 1, 'Weight (oz.)': 1.0},
                   {'Item': 'Trekking Poles', 'Category': 'Utility', 'Quantity': 1, 'Weight (oz.)': 16.0},
                   {'Item': 'Rain Poncho', 'Category': 'Clothing', 'Quantity': 1, 'Weight (oz.)': 6.0},
                   {'Item': 'Shoes', 'Category': 'Clothing', 'Quantity': 1, 'Weight (oz.)': 12.0},
                   {'Item': 'Hat', 'Category': 'Clothing', 'Quantity': 1, 'Weight (oz.)': 2.5}
                  ])
print(df.shape)
df

(17, 4)

    Category                   Item  Quantity  Weight (oz.)
0       Pack                   Pack         1          33.0
1    Shelter                   Tent         1          80.0
2      Sleep           Sleeping Pad         1          27.0
3      Sleep           Sleeping Bag         1          20.0
4     Health  Toothbrush/Toothpaste         1           2.0
5     Health              Sunscreen         1           5.0
6     Health            Medical kit         1           3.7
7    Kitchen                  Spoon         1           0.7
8    Kitchen                  Stove         1          20.0
9    Kitchen           Water Filter         1           1.8
10   Kitchen          Water bottles         2          35.0
11   Utility             Pack Liner         1           1.0
12   Utility             Stuff Sack         1           1.0
13   Utility         Trekking Poles         1          16.0
14  Clothing            Rain Poncho         1           6.0
15  Clothing                  Shoes         1          12.0
16  Clothing                    Hat         1           2.5

In [6]:
df=df.set_index('Item')
df

                       Category  Quantity  Weight (oz.)
Item
Pack                       Pack         1          33.0
Tent                    Shelter         1          80.0
Sleeping Pad              Sleep         1          27.0
Sleeping Bag              Sleep         1          20.0
Toothbrush/Toothpaste    Health         1           2.0
Sunscreen                Health         1           5.0
Medical kit              Health         1           3.7
Spoon                   Kitchen         1           0.7
Stove                   Kitchen         1          20.0
Water Filter            Kitchen         1           1.8
Water bottles           Kitchen         2          35.0
Pack Liner              Utility         1           1.0
Stuff Sack              Utility         1           1.0
Trekking Poles          Utility         1          16.0
Rain Poncho            Clothing         1           6.0
Shoes                  Clothing         1          12.0
Hat                    Clothing         1           2.5

##### agg('sum')

In [7]:
df.groupby('Category').agg('sum')

          Quantity  Weight (oz.)
Category
Clothing         3          20.5
Health           3          10.7
Kitchen          5          57.5
Pack             1          33.0
Shelter          1          80.0
Sleep            2          47.0
Utility          3          18.0

##### agg(['sum'])

In [8]:
df.groupby('Category').agg(['sum'])

         Quantity Weight (oz.)
              sum          sum
Category
Clothing        3         20.5
Health          3         10.7
Kitchen         5         57.5
Pack            1         33.0
Shelter         1         80.0
Sleep           2         47.0
Utility         3         18.0

### Quiz 3. Ordinal scale

Casting the series to categorical with the ordering Low < Medium < High

In [9]:
s=pd.Series(['Low','Low','High','Medium','Low','High','Low'])

In [10]:
s.astype('category',categories=['Low', 'Medium', 'High'],ordered=True)

0       Low
1       Low
2      High
3    Medium
4       Low
5      High
6       Low
dtype: category
Categories (3, object): [Low < Medium < High]

Suppose we have a series that holds height data for jacket wearers. Use pd.cut to bin this data into 3 bins

In [11]:
s=pd.Series([168,180,174,190,170,185,179,181,175,169,182,177,180,171])

In [12]:
pd.cut(s,3)

0     (167.978, 175.333]
1     (175.333, 182.667]
2     (167.978, 175.333]
3         (182.667, 190]
4     (167.978, 175.333]
5         (182.667, 190]
6     (175.333, 182.667]
7     (175.333, 182.667]
8     (167.978, 175.333]
9     (167.978, 175.333]
10    (175.333, 182.667]
11    (175.333, 182.667]
12    (175.333, 182.667]
13    (167.978, 175.333]
dtype: category
Categories (3, object): [(167.978, 175.333] < (175.333, 182.667] < (182.667, 190]]

In [13]:
pd.cut(s, 3, labels=['Small', 'Medium', 'Large'])

0      Small
1     Medium
2      Small
3      Large
4      Small
5      Large
6     Medium
7     Medium
8      Small
9      Small
10    Medium
11    Medium
12    Medium
13     Small
dtype: category
Categories (3, object): [Small < Medium < Large]

### Quiz 4. Pivot Table

Suppose we have a DataFrame with price and ratings for different bikes, broken down by manufacturer and type of bicycle.    
Create a pivot table that shows the mean price and mean rating for every 'Manufacturer'/'Bike type' combination

In [14]:
df=pd.DataFrame([
        {'Bike Type': 'Mountain', 'Manufacturer': 'A', 'Price': 400,'Rating':8},
        {'Bike Type': 'Mountain', 'Manufacturer': 'A', 'Price': 600,'Rating':9},
        {'Bike Type': 'Road', 'Manufacturer': 'A', 'Price': 400,'Rating':4},
        {'Bike Type': 'Road', 'Manufacturer': 'A', 'Price': 450,'Rating':4},
        {'Bike Type': 'Mountain', 'Manufacturer': 'B', 'Price': 300,'Rating':6},
        {'Bike Type': 'Mountain', 'Manufacturer': 'B', 'Price': 250,'Rating':5},
        {'Bike Type': 'Road', 'Manufacturer': 'B', 'Price': 400,'Rating':4},
        {'Bike Type': 'Road', 'Manufacturer': 'B', 'Price': 500,'Rating':6},
        {'Bike Type': 'Mountain', 'Manufacturer': 'C', 'Price': 400,'Rating':5},
        {'Bike Type': 'Mountain', 'Manufacturer': 'C', 'Price': 500,'Rating':6},
        {'Bike Type': 'Road', 'Manufacturer': 'C', 'Price': 800,'Rating':9},
        {'Bike Type': 'Road', 'Manufacturer': 'C', 'Price': 950,'Rating':10}
    ])
df

   Bike Type Manufacturer  Price  Rating
0   Mountain            A    400       8
1   Mountain            A    600       9
2       Road            A    400       4
3       Road            A    450       4
4   Mountain            B    300       6
5   Mountain            B    250       5
6       Road            B    400       4
7       Road            B    500       6
8   Mountain            C    400       5
9   Mountain            C    500       6
10      Road            C    800       9
11      Road            C    950      10

In [15]:
import numpy as np
df.pivot_table(values=['Price','Rating'], index='Manufacturer', columns='Bike Type', aggfunc=np.mean)

                Price          Rating
Bike Type    Mountain   Road Mountain Road
Manufacturer
A               500.0  425.0      8.5  4.0
B               275.0  450.0      5.5  5.0
C               450.0  875.0      5.5  9.5

In [16]:
print(pd.pivot_table(df, index=['Manufacturer','Bike Type']))

                        Price  Rating
Manufacturer Bike Type
A            Mountain   500.0     8.5
             Road       425.0     4.0
B            Mountain   275.0     5.5
             Road       450.0     5.0
C            Mountain   450.0     5.5
             Road       875.0     9.5